// import
@import "~bootstrap/scss/bootstrap";
@import "~react-circular-progressbar/dist/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

// global config
// * {
//   font-family: "Roboto", "Helvetica", "Arial", sans-serif;
// }
body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  // background: #f9f9f9;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  overflow-y: visible !important;
}
html:focus-within {
  scroll-behavior: smooth;
}
.modal-backdrop {
  z-index: 5000 !important;
}
.modal {
  z-index: 5000;
}
.page-no-data {
  min-height: 75vh;
}
.text-right {
  text-align: right;
}
.no-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #009177;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
