.question-set-preview {
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  margin-bottom: 5px;
  .question-set-title {
    font-weight: bold;
    white-space: pre-line;
  }
  .katex {
    font-size: 18px;
  }
}
