.notification-badge {
  #dropdown-notification {
    display: inline-block !important;
    padding: 0 !important;
    background: none !important;
    border: none !important;
    &:focus {
      box-shadow: none !important;
    }
  }
  .dropdown-menu {
    transform: translate(57px, 24px) !important;
  }
  position: relative;
}
