.register {
  box-shadow: 1px 1px 13px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  padding: 20px 10px;
  margin: 100px 300px;
  .link {
    cursor: pointer;
    color: #0035f2;
  }

  .header-register {
    color: #007972;
  }
  .form-group {
    margin: 15px;
    .text-require {
      color: red;
    }
  }
  .button-submit-register {
    text-align: center;
    background: #007972;
    color: white;
  }
}
