.option-editor {
  background: #f1f1f1;
  border-radius: 4px;
  text-align: right;
  .button-option-editor {
    display: inline-block;
    border-radius: 3px;
    border: 0.5px solid rgb(180, 177, 177);
    width: 30px;
    height: 30px;
    text-align: center;
    margin: 5px;
    padding-top: 2px;
    cursor: pointer;
    font-weight: 400;
    color: rgb(94, 92, 92);

    background: white;
    &:hover,
    &.active {
      border-color: blue;
      color: blue;
    }
    * {
      cursor: pointer;
    }
  }
}
.input-math-quil {
  width: 500px;
  min-height: 300px;
  border: 1px solid rgb(160, 159, 159);
  border-radius: 4px;
  color: black !important;
  font-size: 24px;
  padding: 5px;
  span.mq-sup {
    font-size: 18px !important;
  }
}
.table-item-editor {
  border: 1px solid black;
  .table-row-item-list-editor {
    display: flex;
    .table-cell-item-list-editor {
      display: inline-block;
      width: 20px;
      height: 20px;
      border: gray 1px solid;
      cursor: pointer;
      &.active {
        background: rgb(194, 193, 193);
      }
    }
  }
}
