.user-table {
  width: 100%;

  min-width: 100%;
  overflow: auto;
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  min-width: 60%;
  border-color: #dee2e6;
  vertical-align: middle;
  margin: 10px auto;
  .header {
    font-weight: bold;
  }
  .user-table-row {
    .user-table-cell {
      padding: 5px 10px;
      .username {
        text-decoration: none !important;
        color: rgb(3, 93, 116);
        font-size: 15px;
      }
      .user-role-select {
        min-width: 200px;
        max-width: 200px;
        div {
          border-radius: 0 !important;
        }
        .css-7pwich-Input {
          display: none;
        }
      }
    }
  }
}
