.edit-questions-page {
  position: relative;
  width: 100%;
  .side-bar-question-list {
    height: calc(100vh);
  }
  .admin-document-questions,
  .edit-question {
    max-height: calc(100vh - 64px) !important;
    padding-bottom: 10px;
  }

  .preview-questions {
    padding: 0px 50px !important;
  }
  .edit-question {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px 20px !important;
  }
}
.edit-questions-page .makeStyles-wrapper-2 {
  padding-top: 64px;
  height: calc(100vh);
  width: calc(100vw) !important;
  background: #fafafa !important;
}
.admin-wrap {
  width: 100%;
  min-height: 100vh;
  position: relative;
  .admin-main-content {
    margin-top: 5px;
    padding: 16px 24px;
    background: #f6f5f5;
  }
}
@media screen and (max-width: 600px) {
  .admin-main-content {
    padding: 5px !important;
  }
}

@media only screen and (min-width: 1280px) {
  .edit-questions-page .makeStyles-wrapper-2 {
    padding-top: 64px;
  }
}
@media only screen and (max-width: 600px) {
  .edit-questions-page .makeStyles-wrapper-2 {
    padding-top: 56px !important;
  }
}
