.content-exam-test {
  text-align: left;
  background-color: white;
  border: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 10px 1.5rem;
  .label-rank {
  }
  .card {
    background: #ffffff;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    line-height: 30px;
  }
  .option-exam {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .btn-start {
    background-color: #fb752a !important;
    margin: auto;
    border: #fb752a !important;
    padding: 7px 20px;
    font-size: 18px;
    border-radius: 10px;
    margin: auto;
  }
}
