.checkpoint-practice {
  .content-page {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .list-chappter-side-bar,
  .practice-option-sidebar {
    text-align: left;
    background-color: white;
    border: 10px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 10px 1.5rem;
  }
  .chapter-header {
    cursor: pointer;
    &:hover {
      color: rgb(1, 94, 156);
    }
  }
  .unit {
    cursor: pointer;
    &:hover {
      color: rgb(16, 116, 184);
    }
  }
  .level-config {
    background: white;
    width: 100%;
    text-align: left;
    background-color: white;
    border: 10px;
    box-shadow: 0px 1px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    padding: 10px 1.5rem;
    .level-label {
      font-weight: bold;
      text-align: center;
    }
    .level-label-clarative {
      width: 100%;
      height: 1px;
      background-color: gray;
      margin-top: 12px;
      margin-bottom: 12px;
    }
    .level-checbox {
      margin-top: 1rem;
    }
    .level-checbox > input[type="checkbox"] {
      width: 1.25rem;
      height: 1.25rem;
      box-shadow: none;
    }
    // .level-checbox > input[type="checkbox"]:checked {
    //   background-color: green;
    // }
    .level-checbox > .form-check-label {
      margin-left: 1rem;
    }
  }
  .chapter-name {
    font-weight: bold;
    color: #01455a;
  }
  .unit-name {
    font-style: italic !important;
    line-height: 35px;
    margin-left: 3rem !important;
  }
  .chapter-option {
    justify-content: center;
    align-items: center;
    margin-top: 20px !important;
  }
  .unit-declarative {
    width: 100%;
    height: 0.05rem;
    background-color: gray;
  }
}
