#practice_banner {
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
}
.practice_title {
    font-family: Roboto;
}

.practice_subtitle {
    font-style: italic;
    font-family: Roboto;
}
