.subject-matrix {
  .list-chapter {
    //   padding: 10px 0px;
    width: 100%;
    max-height: calc(100vh - 150px);
    overflow: auto;
  }
  .chapter-units {
    width: 100%;
    height: calc(100vh - 150px);
    overflow: auto;
    padding: 10px 24px;
    .info-chapter-name {
      text-align: center;
      font-weight: bold;
      font-size: 20px;
    }
    hr {
      margin: 0.5rem 0 !important;
    }
    .add-unit-btn {
      cursor: pointer;
      user-select: none;
      
    }
  }
}
