.list-document {
  .row,
  .col-lg-6,
  .col-12 {
    padding: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .item-document {
    padding: 5px !important;
  }
}
