.profile-user {
  padding-top: 20px;
  padding-bottom: 20px;
  form {
    padding: 5px 15px 5px 0;
  }
  .info-user {
    padding-right: 100px;
  }
  .form-control {
    border-radius: 0 !important;
  }
  .profile-name-user {
    color: #02596c;
    // font-size: 18px;
  }
}
