.app-logo {
  color: #019176 !important;
  font-size: 2.4rem;
  cursor: pointer;
  text-decoration: none;
  font-family: "Lobster", cursive;
  // font-weight: bold;
  :hover {
    color: #019176 !important;
  }
}
