.edit-template-document {
  // background: #ffffff;
  // padding: 10px;
  margin-left: 10px;
  .question-set-template {
    border-radius: 0 !important;

    .card-header {
      background: white !important;
    }
  }
}
