.admin-document {
  width: 100%;
  position: relative;
  .main-content-document {
    margin-top: 5px;
    padding: 16px 24px;
  }
}
@media screen and (max-width: 600px) {
  .main-content-document {
    padding: 5px !important;
  }
}
