.check-answer {
    background: #FAD202 !important;
    border-color: transparent !important;
    box-shadow: none !important;
    border-radius: 1.1rem !important;
    color: black !important;
    font-weight: bold !important;
    padding: 5px 15px;
}