.auth-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 1rem 0;
  .react-date-picker__wrapper {
    border: none !important;
  }
  .form-control,
  button {
    border-radius: 0 !important;
  }
}
