.paper {
}

.title-logo {
  color: white !important;
  font-size: 20px;
  font-weight: bold;
  :hover {
    color: white !important;
    text-decoration: none;
  }
  text-decoration: none;
}
.title-logo-a {
  a {
    text-decoration: none !important;
  }
}
