.paper {
}
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #009177;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}
.title-logo {
  color: white !important;
  font-size: 20px;
  font-weight: bold;
  :hover {
    color: white !important;
    text-decoration: none;
  }
  text-decoration: none;
}
.title-logo-a {
  a {
    text-decoration: none !important;
  }
}