.login {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  padding: 2rem 1rem;
  margin: auto;
  width: 675px;
  max-width: 100%;
  .link {
    cursor: pointer;
    color: #0035f2;
    text-decoration: none !important;
  }
  .form-control {
    padding: 0.5rem 0.75rem !important;
  }
  #info-login {
    border-right: 1px solid #d3d2d2;
    margin-bottom: 20px;
  }
  .invalid-feedback {
    display: block !important;
    min-height: 12px;
  }
  .header-login {
    color: #007972;
  }
  .login-another {
    color: white;
    // margin-top: 25px;
    display: flex;
    button {
      margin: 0 !important;
      margin-bottom: 20px !important;
    }

    flex-direction: column;
    .title-move-register {
      color: black;
    }
  }
  .group-submit-login {
    display: flex;
    justify-content: space-between;
    .button-submit-login {
      background: #007972;
      color: white;
    }
    .link {
      transform: translateY(25%);
      text-decoration: none !important;
    }
  }
  @media screen and (max-width: 767px) {
    #info-login {
      border-right: none !important;
    }
  }
}
