.document-item {
  padding: 5px 5px;
  cursor: pointer;
  .image-document {
    max-width: 25%;
    height: 100%;
    position: relative;
    display: inline-block;
    margin-right: 5px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      margin: auto;
      display: block;
    }
  }
  .document-info {
    .title-document {
      color: black;
      line-height: 24px;
      font-style: normal;
      white-space: pre-line;
      font-size: 1.1em;
      color: #000000;
      height: 50px;
      text-overflow: ellipsis;
      overflow: hidden;
      &:hover {
        color: rgb(3, 117, 133) !important;
      }
    }
    .document-description {
      white-space: pre-line;
      margin: 2px;
      color: #a8a8a8;
      font-size: 14px;
      font-style: italic;
      height: 44px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .document-view-response {
      margin-top: 5px;
      .details {
        flex-grow: 1;
        font-size: 14px;
        font-style: italic;
        .number-do {
          color: #a8a8a8;
        }
        .date-create {
          color: #dbdada;
        }
      }
    }
  }
  .col,
  .row,
  .col-9 {
    margin: 0 !important;
    padding: 0 !important;
  }
}
